.multi-page{
	padding: 30px !important;
	margin-right: 0px;
	margin-left:0px;
}

/*.user_form .row{
	margin-right: 0px;
	margin-left:0px;
}
*/

input:checked + div:before{
	content: no-close-quote !important;
}
/*.radio_bottom .checkbox, .radio {
    padding-left: 30px;
}*/

#contest_form .btn{
    padding-left: 30px;
}
.contest{
	padding:50px;
}

.control-label {
	padding-bottom:5px;
}

#w0{
	display:none !important;
}

/*.user_db_detail_4{
	padding: 20px 5px 0px 5px;
}
*/

.user_db_detail_4 .db_4 a{
    margin-top: 10px;
}


/*Dashboard*/
.user_content1 .db_box2 h3{
	padding-bottom: 0px !important; 
}

.user_content1 .db_incontent1{
	border-bottom: 0px solid #ededed;
}

.dahboard-contest-mrb{
    margin-bottom: 70px;
}

.user_content1 .db_box2 .my-won i{
    color: #7c716b;
}


/*main layout*/
.custom-alert-padding{
	padding-top: 10px;
    width: 60%;
    margin: auto;
}

/*user profile*/
.profile_section .user_db_img .user_img{
	max-height:200px;
}
.my-dashboard a{
	text-decoration: none;
	color: #000;
}
.user_content .db_box1 .db_incontent2, .profile_section .user_content1 .dp_para{
	color: #888179 !important;
	
}

/* ============== 7 setps form ==============*/

.h2_heading h3, .guarantee-option p {
    color: #797776;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}
.h2_heading h2{
    font-weight: 800;
    color: #96b400;
}


.other-textbox{
	border: solid 2px #6b6a68;
    width: 94.8%;
    height: 175px !important;
    border-radius: 40px;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    font-family: Arial,Helvetica,sans-serif;
    color: #11100e;
    font-size: 18px;
    border-radius: 20px;
    background-color: #fffefc;
}

.other-textbox-info{
    border: solid 2px #6b6a68;
    width: 100%;
    height: 100px !important;
    border-radius: 40px;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    font-family: Arial,Helvetica,sans-serif;
    color: #11100e;
    font-size: 18px;
    border-radius: 20px;
    background-color: #fffefc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .about_situation, 
.radio input:checked ~ .about_family,
.radio input:checked ~ .beds_no,
.radio input:checked ~ .bathrooms_no,
.radio input:checked ~ .approximate_budjet,
.radio input:checked ~ .looking_build,
.radio input:checked ~ .land_other_size,
.radio input:checked ~ .promote_contest
.radio input:checked ~ .design_package

{
	background-color: #98b000 !important;
}

.user_form{
	padding-bottom: 60px;
}



/*
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}*/


.user_form .box__input{
    font-size: 1.25rem;
    position: relative;
    padding: 100px 20px;
    width: 96%;
    outline: 2px dashed #6b6a68;
}
.user_form .box__input .box__file{
    opacity: 0;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
    padding: 86px 453px;
}
.user_form .box__input .box__file + label{
	max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    position: absolute;
   /* overflow: hidden;*/
    margin-left: 38%;
    font-size: 24px;
}
/*
.guarantee-option{
	padding-top:40px; 
}*/
.guarantee-option p{
	padding-bottom:10px;
}
/* colored_box_6_step */
.colored_box {
    /*position: relative;*/
    width: 100%;
    display: inline-block;
    padding-bottom: 60px;
}
.colored_box .col-md-4{
	padding-left:0px;
}
.colored_box .box_1 p {
    font-size: 20px;
    color: #323228;
    padding-top: 40px;
    line-height: 26px;
    font-weight: 600;
}

.colored_box .box_1 h2{
	font-size: 32px;
    color: #787370;
    max-width: 300px;
    line-height: 41px;
    font-weight: 700;
    letter-spacing: 2px;
	
}
.colored_box .box_2 p{
   font-size: 20px;
   color: #323228;
    padding-top: 40px;
    line-height: 26px;
    font-weight: 600;
}

.colored_box .box_2 h2{
	/*font-size: 32px;
    color: #787370;*/
    max-width: 300px;
    line-height: 41px;
    font-weight: 700;
    letter-spacing: 2px;
	
}
.colored_box .box_1 {
   max-width: 534px;
    width: 100%;
    min-height: 620px;
    border-radius: 15px;
    background-color: #f5a975;
    padding-top: 80px;
    padding-left: 60px;
}

.colored_box .box_2 {
    max-width: 950px;
    width: 100%;
    min-height: 270px;
    border-radius: 15px;
    background-color: #f5a975;
    padding-top: 10px;
    padding-left: 60px;
    margin-top: 70px;
}

.colored_box .box_12-checked {
    background-color: #f1c4a3;
}

.colored_box .package-btn {
    background-color: #fff;
}


.colored_btn2 button.banner_btn{
/*left: 22% !important;*/
    font-size: 12px;
    background-color: #fe6a00 !important;
}


/* colored_box_6_step_end */
/* media */
/*@media screen and (max-width:1366px){
	.main_header_insp .dashboard_banner_content {
    left: 30%;
}
	
}
*/
.radio_bottom{
	padding-left:15px; 
}
.radio_bottom input:checked + div{
	background-color: #98b000;
    color: #000;
}
.radio_bottom_indicator {
	position: absolute;
    top: -1px;
    left: -15px;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #000;
}

.radio_bottom input{
	position: absolute;
    z-index: 10000;
    opacity: 0;
}

.radio_bottom .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    /*color: #97b100;*/
    color: #817776;
    font-size: 25px;
    font-weight: 700;
}





/*paymnent_page*/
.summary-head {
   /* padding-top: 80px;*/
    /*padding-bottom: 40px;*/
    font-size: 30px;
    font-weight: 800;
    color: #4e4c4b;
    letter-spacing: 2px;
	
    
}

.payment_para .para_1 {
    /* border: solid; */
    font-size: 35px;
    color: #787475;
    font-weight: 800;
    letter-spacing: 2px;
}
.payment_para .para_2 {
    /* border: solid; */
    font-size: 35px;
    color: #787475;
    font-weight: 800;
    letter-spacing: 2px;
}
.payment_heading .payment_para .para_1{
    /*padding-top: 40px;*/
    font-size: 35px;
    color: #787475;
    font-weight: 800;
    letter-spacing: 2px; 
}
.payment_heading .payment_para .para_2
{
    padding-top: 40px;
   font-size: 35px;
    color: #787475;
    font-weight: 800;
    letter-spacing: 2px; 
}
.payment_heading .payment_para{
    border-bottom:1px
}
.payment_heading1 .payment_para1 .para_1
{
    padding-top: 40px;
    font-size: 35px;
    color: #787475;
    font-weight: 800;
    letter-spacing: 2px;
    padding-bottom: 60px;
}
.payment_heading1 .payment_para1 .para_2
{
    padding-top: 40px;
   font-size: 35px;
    color: #787475;
    font-weight: 800;
    letter-spacing: 2px; 
}
.payment_section{
    border-bottom: 1px solid #f1f1f1;
}

.payment_para1 {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}
/*paymnent_page-end*/


/*contact details*/
.contact_details{
	padding-top: 60px;
}
.contact_details label{
	font-size: 30px;
    font-weight: 600;
    color: #9a9897;
    font-family: -webkit-body;
    padding-bottom: 25px;
}

.contact_details .phone-text{
	padding-top: 60px;
}
	
.contact_details input[type=text]{
	border: solid 2px #6b6a68;
	padding:10px;
    line-height: 75px;
    height: 83px;
    border-radius: 40px;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    font-family: Arial,Helvetica,sans-serif;
    color: #11100e;
    font-size: 18px;
    border-radius: 20px;
    background-color: #fffefc;
    width: 100%;
}


.about_arkotte {
	padding-top: 60px;
}

	
.and_finally h2{
	font-size: 30px;
    font-weight: 800;
    color: #4e4c4b;
    letter-spacing: 2px;
} 
    
.radio_finally{
	padding-left:15px; 
}

.radio_finally .about{
    font-size: 30px;
    color: #787475;
    padding-bottom: 60px;
    font-weight: 600;
    font-family: initial
}

.radio_finally input:checked + div{
	background-color: #a9a9a9;
    color: #000;
}
.radio_finally .radio_bottom_indicator {
	position: absolute;
    top: 1px;
    left: -7px;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50px;
    border: 2px solid #a9a9a9;
}



.radio_finally input{
	position: absolute;
    z-index: 10000;
    opacity: 0;
}

.radio_finally .control {
	display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #a9a9a9;
    font-size: 25px;
    font-family: initial;
    font-weight: 600;
}


/*error summary */
.error-summary{
	margin: auto;
    width: 30%;
    line-height: 25px;
    color: red;
    border: 1px dotted;
    padding: 20px;

}
.costing_section .search_section{
    padding-left: 60px;
}
.contest_pagination{
    text-align: center;
}


.contest_pagination .pagination .active{
    border: 0px solid !important;
}


.control-wid-ht{
    max-height: 300px;
    max-width: 518px;
}


.custome-btn{
    background-color: #f96c06 !important;
    border-color: #f96c06 !important;
    font-weight: 600 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}
/*cms content page*/
.cms-content-section{
    padding: 70px 200px;
}

.cms-content-section .heading h3{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #808080;
}
.cms-content-section .heading .h3-bottom{
    padding-top: 70px;
}
.cms-content-section .content p{
    line-height: 27px;
    font-size: 20px;
    color: #808080;
}
.cms-content-section .content .p-bottom{
   padding-bottom: 20px;
}

.payment-content-section{
   padding:125px;
}

.payment-content-section .content p{
    line-height: 27px;
    font-size: 20px;
    color: #808080;
}
.payment-content-section .content .alert{
   padding:30px;
}
/*end cms page*/


/*plus icon on image*/
.gellery .plus-icon {
    width: 17px;
    height: 0px;
    position: relative;
    float: right;
    display: none;
    width: 100%;
    position: absolute;
    top: 47% !important;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.gellery .plus-display{
    display: block !important;
    color: #ff6a00;
}

/*end plus icon on image*/
.section_fourth .banner_btn, .banner_content .banner_btn{
    text-transform: capitalize !important; 
    width: auto !important;
    text-decoration: none;
}

.section_fourth .content_inside_box .mr-btm{
    margin-bottom: 70px;
}

.main_header .banner_content .mr-btm{
    margin-bottom: 70px;
}


/*customer information*/
.contest-info .contest-deliverable{    
    border-top: 2px solid #c3c3c3;
    padding-top: 100px;
    padding-bottom: 70px;
}

.contest-info  .contest-deliverable textarea{
    height: 130px !important;
    border-radius: 30px;
    padding-left: 25px;
    padding-top: 20px;
}

.contest-info .contest-deliverable .help-block{
    color: #a94442;
    font-weight: 600;
}


.contest-info div.label{
    line-height: 20px !important;
    max-width: 100%;
    text-align: left;
    font-size: 18px !important;
}


.contest-info div.label h2{
   font-weight: 600;
   color: #797574;
   /*padding-top: 5px;*/
   font-size: 22px;

}

.contest-info .gellery{
    padding-top: 20px !important;
    padding-bottom: 0px !important;
} 
.contest-info .heading-text {
    padding-top: 0px;
}
.contest-info .heading-text h2{
   color: #383737;
   font-size: 25px;
   padding-bottom: 20px;

}
.contest-info #nine button.banner_btn{
    border-radius: 40px;
    margin-bottom: 0px;
    min-width: 300px;
    padding: 30px 70px !important;
}

.contest-info #nine .btn{
    padding: 0px;
}

.contest-info #nine .btn.active, .btn:active{
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}

.contest-info #nine .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0px;
    outline-offset:0px;
}

.contest-info #nine .returnback-btn{
   padding-top: 70px;
}
.contest-info #nine .returnback-btn a{
    font-size: 25px;
    color: #2f2f2f;
    text-decoration: none;
}



.contest-info .specific-need{
    color: #11100e;
    margin-top: 22px;
    border: 2px solid #6b6a68;
    background-color: #fffefc;
    padding: .2em .6em .3em;
    border-radius: 20px;
    width: 100%;
    min-height: 205px;
    font-size: 20px;
    font-weight: 700;
}

.contest-info .specific-need p{
    line-height: 25px;
    font-size: 18px;
}
 
.contest-info .control-wid-ht{
    max-height: 400px !important;
    max-width: 518px;
}

.contest-info .labelh2{
   font-weight: 600;
   color: #797574;
   /*padding-top: 10px;*/
   margin-bottom: 5px;
   text-align: justify;
   font-size: 22px;
}

.contest-info .mrtop {
    margin-top: 50px;
}

.contest-info #fourth {
    margin-top: 50px;
}


.contest-info #seventh {
    margin-bottom: 70px;
}

.contest-info #first {
    border-top: 2px solid #adadad;
}


.upload-design-files .file-area{
    border: 2px solid #6b6a68;
    border-radius: 30px;
}
.contest-info .upload-design-files .file-area p{
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #797574;
    height: 100%;
    text-align: center;
    line-height: 170px;
}



.contest-info .gellery-img{
    padding-bottom: 10px !important;
}


    
/*end customer information*/


/* Submit proposal */


.submit-proposal .upload-design-files {
     padding-top: 100px;  
}
.submit-proposal .contest-deliverable{    
    border-top: 0px solid #fff;
    
}


.submit-proposal .file-area .upload-designs{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    max-height: 105px;
    max-width: 300px;
}

.submit-proposal .upload-design-files .file-area {
    max-height: 105px;
    max-width: 300px;
    background: #6b6a68;
    border-radius: 40px;
}

.submit-proposal .upload-design-files .file-area p{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 105px;
    letter-spacing: 5px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}
/* End submit proposal */

/* Dashboard proposal */
.proposal-section .won .won-btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    font-size: 15px; 
}

.proposal-section .contest-title {
    padding: 25px 0px;

}

#arkotte_proposals .proposal-section .proposal-username {
    margin-left: 10px;
}
#arkotte_proposals  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}
/* End dashboard proposal */


/*Transaction details */
.transaction-section .details{
    padding-top: 30px;
    padding-bottom: 10px;
}
.transaction-section span{
    background-color: #fff; 
}
.transaction-section .order_no{
    background-color: #98b000 !important;
    padding: 6px !important;
    margin-right: 90px !important;
}

.transaction-section .tranc-status-heading{
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    top: 60px;
    font-weight: 600;
}

/*end Transaction details */


/* 7 steps form map */

/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
.tabbing-content #second  #building_site_map_display {
    height: 100%;
}
.tabbing-content #second #building_site_map{
    max-width: 400px;
    background: #fff;
}
.pac-container{
    border-top: 0px solid #fff !important;
}


/* End 7 steps form map */













/*footer*/
.form_footer .contact-error{
    color: red; 
    padding-top: 10px;
}


.cost_d_box p a, .db_d_box  p a{
    text-decoration: none;
    color: #51585e;
}
.plus-icon .overlay-plus{
    color: #ff6a00;
    font-size: 32px;
}

.end-contest{
    color: red;
}
/*end footer*/
























